<p>weather wotghdfghrks!</p>
<div id="divWeatherMain">
  <div class="weatherWidgetRow cloudDiv">
    <i class="fas fa-cloud fa-3x cloud"></i>
  </div>
  <div class="weatherWidgetRow" style="font-size: 12px"></div>
  <span class="material-icons-outlined">
    <mat-icon> wb_sunny </mat-icon>
  </span>
  <div class="weatherWidgetRow" style="font-size: 25px; margin-top: 10px">
    {{ weatherData.applicable_date }}
  </div>
  <div class="weatherWidgetRow" style="font-size: 25px; margin-top: 10px">
    {{ weatherData.the_temp }}°c
  </div>
  <div class="weatherWidgetRow" style="font-size: 12px">
    Min. {{ weatherData.min_temp }}°c / Max. {{ weatherData.max_temp }}°c
  </div>
  <div class="weatherWidgetRow" style="font-size: 12px">
    {{ weatherData.weather_state_name }}
  </div>
  <div class="weatherWidgetRow" style="font-size: 25px; margin-top: 10px"></div>

  <div class="progress_bar">
    Predicted generation
    <mat-progress-bar
      class="progress_bar"
      mode="determinate"
      value="{{ percentage }}"
    >
    </mat-progress-bar>
    {{ percentage }}%
  </div>
</div>
