<form class="add-form" (ngSubmit)="onSubmit()">
  <div class="form-control">
    <label for="name">Name</label>
    <input
      type="text"
      name="name"
      [(ngModel)]="name"
      id="consumername"
      placeholder="Add Consumer Name"
    />
    <label for="kWh">kWh</label>
    <input
      type="number"
      name="kwh"
      [(ngModel)]="kwh"
      id="kwh"
      placeholder="Add Required kWh"
    />
  </div>

  

  <input type="submit" value="Add Request" [disabled] = "false" class="btn btn-block" />
</form>

<!-- <form (ngSubmit)="onSubmit()" [formGroup] = "form">
  <input type="text" placeholder="Name" formControlName = 'name'>
  <input type="number" placeholder="kwh" formControlName = 'kwh'>
  <button type="submit">submit</button>

</form> -->
